body {
  background-color: #ffffff;
}

.homepage-container {
  padding: 1.25rem;
}

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 47.9rem) { @content; }
  }

  @else if $class == sm {
    @media (min-width: 48rem) { @content; }
  }

  @else if $class == md {
    @media (min-width: 62rem) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 75rem) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin breakpoint($min: 0, $max: 0) {
  $type: type-of($min);
  @if $type == string {
  }
  @else if $type == number {
    $query: "all" !default;
    @if $min != 0 and $max != 0 {
      $query: "(min-width: #{$min}) and (max-width: #{$max})";
    }
    @else if $min != 0 and $max == 0 {
      $query: "(min-width: #{$min})";
    }
    @else if $min == 0 and $max != 0 {
      $query: "(max-width: #{$max})";
    }
    @media #{$query} {
      @content;
    }
  }
}

/* Header Start */

header {
  min-height: 6.25rem;
}
.navbar {
  background-color: #212C40;
  margin-bottom: 0.3rem;
}
.logo {
  display: block;
  width: 7.6rem;
  height: 3.25rem;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar .nav li {
  padding: 0.3rem;
  .searchfieldtop{
    border: 0.0625rem solid #65D2FF;
    background: transparent;
    border-radius: 1rem;
    color: #FFFFFF;
    padding: 0.125rem 0.625rem;
    &::-webkit-input-placeholder{
      color: #FFFFFF;
    }
  }
  a {
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 0;
    &:hover {
      border-bottom: 0.1875rem solid #65D2FF;
      text-decoration: none;
    }
  }
}

/* Header End */


.main-heading {
  h1 {
    text-align: center;
    padding: 3rem;
  }
  h4 {
    text-align: center;
  }
  position: relative;
}


/*Hero Section*/
.hero-section {
  width: 100%;
  color: #ffffff;
  padding-bottom: 2rem;
}

.hero-product-inner {
  margin-top: 1.875rem;
  padding: 0.5rem 3.5rem;
  h3 {
    color: black;
  }
  h4 {
    color: #52af52;
    margin-right: 2rem;
  }
  h5 {
    color: black;
  }
  p {
    color: black;
  }
  ul {
    margin: 1.5rem 0rem 1.5rem -2rem;

  }
  li {
    color: black;
    margin: 0.8rem;
    padding: 0rem 0rem 0rem 2.5rem;
    list-style: none;
    background-image: url("https://s3.eu-west-2.amazonaws.com/housevault-images/template/tick.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px;

  }
  .sample-btn{
    float:left;
    margin:0.625rem 0 0 1.4375rem;
    padding: 1rem;
    background: #00bacc;
    width: 12rem;
    text-align: center;
  }
  .demo-btn{
    float:left;
    margin:0.625rem 1rem 0 1.4375rem;
    padding: 1rem;
    background: #52af52;
    width: 12rem;
    text-align: center;
  }
}

.hero-product-image {
  width: 100%;
  min-height: 28.125rem;
  background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/template/agents-header-image.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 31.25rem auto;
}

.hero-product-image-developers {
  width: 100%;
  min-height: 28.125rem;
  background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/template/developers-header-image.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25rem auto;
  margin-left: 5rem;
}

/*Product Info*/
.our-product {
  .row{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  width: 100%;
  background-color: #1e2738;
  color: #ffffff;
  // clear: both;
  // background-size: cover;
  // background-image: url(/static/diagonal_blue_background_bottom.svg);
  @include breakpoint($min: 48rem, $max: 74.9375rem) {
    height: 100%;
  }
  @include breakpoint($min: 0, $max: 47.9rem) {
    height: 100%;
  }
  .sample-btn{
    float:left;
    margin:2.5rem 0 0 1.4375rem;
    padding: 1rem;
    width: 15rem;
    background: #00bacc;
    text-align: center;
  }
  .demo-btn{
    float:left;
    margin:2.5rem 0rem 0rem 0rem;
    padding: 1rem;
    background: #52af52;
    width: 15rem;
    text-align: center;
  }
}

.product-heading {
  font: 600 1.625rem/3.125rem 'Roboto Condensed', sans-serif;
  text-align: left;
  color: #5bc8f9;
  //margin-top: 3rem;
}

.product-inner {
 padding: 2rem;
  }

.illustration-1 {
  width: 100%;
  min-height: 38.125rem;
  background-image: url(/static/hv_illustration_1.svg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  @include breakpoint($min: 0, $max: 47.9rem) {
    background-image: none;
  }
}

.illustration-2 {
  width: 100%;
  min-height: 30rem;
  background-image: url(/static/hv_illustration_2.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 23rem auto;
  overflow: hidden;
  @include breakpoint($min: 48rem, $max: 74.9375rem) {
    font: 700 1.5rem/1.875rem 'Roboto Condensed', sans-serif;
    background-size: 19.375rem auto;
  }
  @include breakpoint($min: 0, $max: 47.9rem) {
    display: none;
  }
}

.illustration-3 {
  width: 100%;
  min-height: 30rem;
  background-image: url(/static/hv_illustration_3.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 28rem auto;
  @include breakpoint($min: 48rem, $max: 74.9375rem) {
    font: 700 1.5rem/1.875rem 'Roboto Condensed', sans-serif;
    background-size: 19.375rem auto;
  }
  @include breakpoint($min: 0, $max: 47.9rem) {
    display: none;
  }
}

.illustration-3-developers {
  width: 100%;
  min-height: 25rem;
  background-image: url(/static/hv_illustration_3.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20rem auto;
  @include breakpoint($min: 48rem, $max: 74.9375rem) {
    font: 700 1.5rem/1.875rem 'Roboto Condensed', sans-serif;
    background-size: 19.375rem auto;
  }
  @include breakpoint($min: 0, $max: 47.9rem) {
    display: none;
  }
}

/* Three  Features Component */
.three-feature-section {

  .three-feature-section-inner {
    margin-top: 1.875rem;
    padding: 1.5rem 1.5rem;
    h3 {
      color: black;
      text-align: center;
    }
    p {
      color: black;
      text-align: center;
    }
    li {
      color: black;
    }
    .sample-btn {
      float: left;
      margin: 0.625rem 0 0 1.4375rem;
      padding: 1rem;
      background: #00bacc;
    }
    .demo-btn {
      float: left;
      margin: 0.625rem 0 0 1.4375rem;
      padding: 1rem;
      background: #cc4d58;
    }

    .three-feature-gif {
      width: 95%;
      height: 15rem;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 31.25rem auto;

    }

    .gif-one {
      background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/template/agents-header-image.png);

    }
    .gif-two {
      background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/template/agents-header-image.png);

    }
    .gif-three {
      background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/template/agents-header-image.png);

    }

    .three-feature-tag {
      padding: 0.5rem;
      text-align: center;
      font-size: 1.1rem;
    }
  }
}

/* More Than A Valuation Component */

.more-than-a-val{
  .row{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  margin-top: 1.5rem;
  @include breakpoint($min: 0, $max: 47.9rem) {
    margin-top: 1.5rem;
  }

  .more-than-heading {
    font: 700 1.625rem/4.6875rem 'Roboto Condensed', sans-serif;
    min-height: 4.6875rem;
    text-align: left;
    color: #5dc8f9;
    @include breakpoint($min: 48rem, $max: 74.9375rem) {
      font: 600 1.25rem/3.125rem 'Roboto Condensed', sans-serif;
      min-height: 3.125rem;
    }
    @include breakpoint($min: 0, $max: 47.9rem) {
      font: 700 1.125rem/2.5rem 'Roboto Condensed', sans-serif;
      min-height: 2.5rem;
    }
  }
  .valuation-reports-illustration-1 {
    min-height: 25.625rem;
    background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/template/3-page-report-example.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 31.25rem auto;
  }

  .developer-reports-illustration-1 {
    min-height: 20rem;
    background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/template/agents-header-image.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30rem auto;
  }
}


/* Knowledge is power */

.the-knowledge {
  .row{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  background-color: #ecebeb;
  span{
    margin-top: 1rem;
  }
  .sample-btn{
    float:left;
    margin:2.5rem 0 0 1.4375rem;
    padding: 1rem;
    width: 15rem;
    background: #1e2738;
    text-align: center;
    color: white;
    border-radius: 3rem;
  }
  .demo-btn{
    float:left;
    margin:2.5rem 0rem 0rem 0rem;
    padding: 1rem;
    background: #1e2738;
    width: 15rem;
    text-align: center;
    color: white;
    border-radius: 3rem;
  }
  .demo-btn:hover{
    background: #bf474b;
  }
  .sample-btn:hover{
    background: #bf474b;
  }
}

.knowledge-inner {
  padding: 2rem;

}

.knowledge-heading {
  font: 600 1.625rem/3.125rem 'Roboto Condensed', sans-serif;
  text-align: left;
  color: #68cc5d;
}

/* Test Drive Offer */

.test-drive {
  clear: both;
  background-color: #feca02;
  padding: 1.875rem 0rem 1.875rem 0rem;
  span{
    margin-top: 1rem;
  }

  .test-drive-heading {
    font: 600 2.5rem/3.125rem 'Roboto Condensed', sans-serif;
    min-height: 3.125rem;
    text-align: center;
    padding: 1.5rem;
    color: #1e2537;
    width: 100%;
  }
  h3 {
    font: 600 1.5rem 'Roboto Condensed', sans-serif;
    text-align: center;
    color: #1e2537;
    padding-top: 1.5rem;
  }

  .offer-btn{
    padding: 1rem;
    margin: 1.875rem 0rem 1.875rem 0rem;
    object-position: center;
    background-color: #1e2738;
    color: #5accff;
    font-size: 1.7rem;
    text-align: center;
    border-radius: 3rem;
    width: 100%;
  }

  .offer-btn:hover {
    background-color: #52af52;
    color: white;
  }
}


/*Footer*/

footer {
  background-color: #212C40;
  color: #ffffff;
  padding-top: 1.25rem;
  .padding-left-0 {
    padding-left: 0rem;
  }
  .footer-links {
    margin-top: 1.25rem;
    &:first-child {
      padding-left: 0rem;
    }
    h4 {
      color: #65D2FF;
      text-transform: uppercase;
      font-size: 1.125rem;
    }
    ul {
      padding-left: 0rem;
      li {
        list-style: none;
      }
    }
    a {
      color: #ffffff;
    }
    @include breakpoint($min: 0, $max: 47.9rem) {
      padding-right: 0rem;
      padding-left: 0rem;
    }
  }
  .copyright {
    color: #65D2FF;
    margin-top: 1.25rem;
  }
}