html {
  background: url('/static/ivy-barn-436983-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
body {
  background-color:transparent ;
}
.valuation-card {
  h1 {
    letter-spacing: -1px;
    font-size:2rem;
  }

  p {
    font-size:0.9rem;
  }

  margin-left:20%;
  margin-top:30%!important;
}

@mixin breakpoint($min: 0, $max: 0) {
  $type: type-of($min);
  @if $type == string {
  }
  @else if $type == number {
    $query: "all" !default;
    @if $min != 0 and $max != 0 {
      $query: "(min-width: #{$min}) and (max-width: #{$max})";
    }
    @else if $min != 0 and $max == 0 {
      $query: "(min-width: #{$min})";
    }
    @else if $min == 0 and $max != 0 {
      $query: "(max-width: #{$max})";
    }
    @media #{$query} {
      @content;
    }
  }
}

.comparable-property-card {
  min-width:25%;
}

.mag-content {
  margin: 15px;
}

.mag-box {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.HeroIntro {
  margin-left:15px
}

.hero-result-head {
  @include breakpoint($min: 0, $max: 767px);
  margin-right: 0px;
  margin-left: 0px;
  text-align: center;
  color: #6b6b76;
  padding-top: 25px;
  padding-bottom: 15px;
}

#valuation-card{
  margin-top: 0px;
  border-radius: 0px;
}

.valuation-report-nav {
  text-align: center;
  color: white;
  background-color: #0070ff;
  a {
    color: white;
  }
  font-size: 18px;

}

