.rooftop-image {
  background: url('/static/house.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.valuation-card {
  h1 {
    letter-spacing: -1px;
    font-size:2rem;
  }
  p {
    font-size:0.9rem;
  }
  margin-left:20%;
  margin-top:30%!important;
}